{% extends "base.html" %} {% block content %}
<div class="header-image">
        <div class="header-text">
            <h1 style="font-size:50px">TCAV - NLP</h1>
            <h2 style="font-size:20px">Extending Testing Concept Activation Vectors for NLP</h2>
            <!-- <h3 style="font-size:30px">Made with <span style="color: #e25555;">&#9829;</span> by <strong>HKJ</strong></h3> -->
        </div>           
</div>
<br/>

<div class="w-50 mx-auto">
    <div>
        <h4 style="text-align: center"><b>Plots the results for easy viewing.</b></h4>
        <p style="text-align: center"><blockquote style="text-align: center"><i>View the TCAV scores (bar plots) either by layer or by concept.</i></blockquote></p>
    </div>
    <div class="loader" style="display:none;"></div>
    <h3 style="text-align: center">Layer Wise Results</h3>
    <div class="row">
        <ul class="images">
            <li><a href="#"><img src="/static/images/layer_wise/1.png" width="700" height="600"/></a></li>
            <li><a href="#"><img src="/static/images/layer_wise/2.png" width="700" height="600"/></a></li>
            <li><a href="#"><img src="/static/images/layer_wise/3.png" width="700" height="600"/></a></li>
            <li><a href="#"><img src="/static/images/layer_wise/4.png" width="700" height="600"/></a></li>
            <li><a href="#"><img src="/static/images/layer_wise/5.png" width="700" height="600"/></a></li>
            <li><a href="#"><img src="/static/images/layer_wise/6.png" width="700" height="600"/></a></li>
            <li><a href="#"><img src="/static/images/layer_wise/7.png" width="700" height="600"/></a></li>
            <li><a href="#"><img src="/static/images/layer_wise/8.png" width="700" height="600"/></a></li>
            <li><a href="#"><img src="/static/images/layer_wise/9.png" width="700" height="600"/></a></li>
            <li><a href="#"><img src="/static/images/layer_wise/10.png" width="700" height="600"/></a></li>
            <li><a href="#"><img src="/static/images/layer_wise/11.png" width="700" height="600"/></a></li>
            <li><a href="#"><img src="/static/images/layer_wise/12.png" width="700" height="600"/></a></li>
            <li><a href="#"><img src="/static/images/layer_wise/13.png" width="700" height="600"/></a></li>
        </ul>
    </div> 
</div>
{% endblock %}